.header {
  position: sticky;
  padding: 22px 0px;
  background-color: white;
  top: 0;
  z-index: 100;

  &._fixed {
    position: fixed;
    left: 0;
    right: 0;
  }
  &__wrapper {
    @include flex-between;
    gap: 30px;
    @include laptop-middle {
      gap: 20px;
    }
  }
  &__logo {
    display: block;
    width: 150px;
    @include laptop {
      width: 120px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__list {
    display: flex;
    gap: 40px;

    @include desktop {
      gap: 20px;
    }
    @include laptop-middle {
      gap: 15px;
    }
    @include laptop-min {
      display: none;
    }

    li {
      &.current-menu-item {
        a {
          font-weight: 700;
          color: var(--primary);
        }
      }
    }

    a {
      font-size: 20px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--primary);
      }
      @include desktop {
        font-size: 18px;
      }
      @include laptop-middle {
        font-size: 14px;
      }
    }
  }
  &__tel {
    font-weight: 600;
    font-size: 24px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include desktop {
      font-size: 20px;
    }
    @include laptop-middle {
      font-size: 16px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__btn {
    padding: 20px;
    background-color: var(--dark);

    font-weight: 700;
    font-size: 20px;
    color: white;

    transition: color .2s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop {
      font-size: 18px;
      padding: 15px;
    }
    @include laptop-middle {
      font-size: 14px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__burger-btn {
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 30px;

    transition: color .2s ease;

    @include hover {
      color: var(--primary);
    }

    @include laptop-min {
      display: flex;
    }
    
    div {
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }
}
