.s-discuss {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 700px;
  @include laptop-min {
    min-height: 500px
  }
  @include tablet-min {
    min-height: auto
  }
  &__wrapper {
    @include flex-center;
    @include tablet-min {
      flex-direction: column;
      gap: 30px;
      text-align: center;
    }

    .s-title {
      margin-bottom: 0;
    }
  }
  &__img {
    display: block;
    width: 285px;
    @include laptop-min {
      width: 200px;
    }
  }
}