.s-discuss {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 700px;
  @include laptop-min {
    min-height: 500px
  }
  @include tablet-min {
    min-height: auto
  }
  &__wrapper {
    @include flex-center;
    @include tablet-min {
      flex-direction: column;
      gap: 30px;
      text-align: center;
    }

    .s-title {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      z-index: 1;

      @include tablet {
        flex-direction: column;
        gap: 30px;
      }
    }
  }
  &__img {
    position: absolute;
    display: block;
    width: 375px;
    right: -270px;
    z-index: -1;
    @include laptop {
      width: 300px;
      right: -180px;
    }
    @include laptop-min {
      width: 200px;
      right: -120px;
    }
    @include tablet {
      position: static;
    }
  }
}