.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
}

.mouse {
  position: absolute;
  width: 40px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  @include laptop-min {
    display: none;
  }
}
