<section class="intro-service" style="background: url('@img/intro-service.jpg') 0 0 / cover no-repeat;">
  <div class="container">
    <div class="intro-service__body">
      <h1 class="intro-service__title">Внутренние события</h1>
      <p class="intro-service__content">
        Сложно сказать, почему элементы политического процесса могут быть
        заблокированы в рамках своих собственных рациональных ограничений.
      </p>
      <button data-modal-btn="modal-connect" class="btn-s _white intro-service__btn">Обсудить формат</button>
    </div>
  </div>
</section>