<section class="intro parallax-container">
  <img src="@img/intro-circle.png" alt="image" class="parallax-item intro__circle">
  <img src="@img/intro-rect.png" alt="image" class="parallax-item intro__rect">
  <div class="container intro__container">
    <div class="intro__text">
      <div class="intro__text-item">Мы создаем</div>
      <div class="intro__text-primary">события,</div>
    </div>
    <a
      href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
      data-fancybox
      class="intro__play"
    >
      <div class="intro__play-circle">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-play"></use>
        </svg>
      </div>
      <span>Манифест</span>
    </a>
    <div class="intro__footer">
      <button
        data-modal-btn="modal-connect"
        class="btn-s _white intro__footer-btn"
      >
        Обсудить проект
      </button>
      <div class="intro__text _bottom">
        <div class="intro__text-item">которые</div>
        <div class="intro__text-primary">работают</div>
        <div class="intro__text-item">на ваш бизнес.</div>
      </div>
    </div>
  </div>
</section>
