<div class="modal-overlay" id="modal-overlay"></div>
<div class="modal" data-modal="modal-connect">
  <div class="modal__window">
    <div class="modal__close">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-close'></use>
      </svg>
    </div>
    <div class="container">
      <div class="modal__head">
        <h3 class="modal__title">
          Хотите заказать
          <br />
          организацию мероприятия?
        </h3>
        <p class="modal__head-content">
          Если у вас есть бриф, вы можете его приложить к заявке
          <br />
          или 
          <a href="#">заполнить его</a>
          у нас на сайте
        </p>
      </div>
      <form action="#" class="modal__form">
        <div class="modal__form-grid">
          <div class="input-control">
            <label for="connect-name" class="label-control">
              Имя
              <span>*</span>
            </label>
            <input type="text" id="connect-name" class="input" />
          </div>
          <div class="input-control">
            <label for="connect-tel" class="label-control">
              Телефон
              <span>*</span>
            </label>
            <input type="tel" id="connect-tel" class="input" />
          </div>
          <div class="input-control">
            <label for="connect-comment" class="label-control">
              Напишите про будущее мероприятие
              <br />
              <small>
                (а если не хочется писать, то мы с вами свяжемся и обсудим)
              </small>
            </label>
            <input type="text" id="connect-comment" class="input" />
          </div>
          <div class="modal__form-footer">
            <input type="file" id="connect-file" class="input-file" />
            <label data-change-text="Бриф прикреплён" for="connect-file" class="form-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-paper"></use>
              </svg>
              <span>Прикрепить бриф</span>
            </label>
            <a href="@img/logo.svg" download class="form-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
              <span>Получить бриф</span>
            </a>
          </div>
        </div>
        <div class="modal__form-nav">
          <button class="btn-s modal__form-btn">Отправить</button>
          <p class="form-policy modal__form-policy">
            Нажимая на кнопку, вы даете согласие на
            <a href="#">обработку персональных данных</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" data-modal="modal-price">
  <div class="modal__window">
    <div class="modal__close">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-close'></use>
      </svg>
    </div>
    <div class="container">
      <div class="modal__head">
        <h3 class="modal__title">Рассчитать стоимость</h3>
        <p class="modal__head-content">
          Если у вас есть бриф, вы можете его приложить к заявке
          <br />
          или 
          <a href="#">заполнить его</a>
          у нас на сайте
        </p>
      </div>
      <form action="#" class="modal__form">
        <div class="modal__form-grid">
          <div class="input-control">
            <label for="price-name" class="label-control">
              Имя
              <span>*</span>
            </label>
            <input type="text" id="price-name" class="input" />
          </div>
          <div class="input-control">
            <label for="price-tel" class="label-control">
              Телефон
              <span>*</span>
            </label>
            <input type="tel" id="price-tel" class="input" />
          </div>
          <div class="input-control">
            <label for="price-comment" class="label-control">
              Напишите про будущее мероприятие
              <br />
              <small>
                (а если не хочется писать, то мы с вами свяжемся и обсудим)
              </small>
            </label>
            <input type="text" id="price-comment" class="input" />
          </div>
          <div class="modal__form-footer">
            <input type="file" id="price-file" class="input-file" />
            <label data-change-text="Бриф прикреплён" for="price-file" class="form-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-paper"></use>
              </svg>
              <span>Прикрепить бриф</span>
            </label>
            <a href="@img/logo.svg" download class="form-btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-download"></use>
              </svg>
              <span>Получить бриф</span>
            </a>
          </div>
        </div>
        <div class="modal__form-nav">
          <button class="btn-s modal__form-btn">Отправить</button>
          <p class="form-policy modal__form-policy">
            Нажимая на кнопку, вы даете согласие на
            <a href="#">обработку персональных данных</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" data-modal="modal-review">
  <div class="modal__window">
    <div class="modal__close">
      <svg>
        <use xlink:href='img/icons/icons.svg#icon-close'></use>
      </svg>
    </div>
    <div class="container">
      <div class="modal__head">
        <h3 class="modal__title">Отзыв</h3>
      </div>
      <div id="content-review" class="modal__content"></div>
    </div>
  </div>
</div>