<section class="s-archive-cases sect-p">
  <div class="container">
    <h1 class="s-title _center">
      <span>События,</span>
      которыми мы гордимся
    </h1>
    <div class="s-archive-cases__categories">
      <a href="#" class="btn-outline">Лучшие проекты</a>
      <a href="#" class="btn-outline _active">Тимбилдинги</a>
      <a href="#" class="btn-outline">Деловые мероприятия</a>
      <a href="#" class="btn-outline">Маркетинговые мероприятия</a>
      <a href="#" class="btn-outline">Корпоративы</a>
    </div>
    <ul class="list s-archive-cases__subcategories">
      <li><a href="#" class="_active">Приключенческий квест (19)</a></li>
      <li><a href="#">Веревочный тимбилдинг (5)</a></li>
      <li><a href="#">Выездной тимбилдинг (3)</a></li>
      <li><a href="#">Творческий тимбилдинг (2)</a></li>
    </ul>
  </div>
</section>
