<section class="s-awards sect-m">
  <div class="container">
    <div class="s-awards__wrapper">
      <h2 class="s-title s-awards__title">
        Награды
        <br />
        и премии
      </h2>
      <div class="s-awards__items">
        <div data-aos="fade-up" data-aos-duration="800" class="s-awards__item">
          <div class="s-awards__item-num">2025</div>
          <div class="s-awards__item-body">
            <h5 class="s-awards__item-title">Название премии</h5>
            <p class="s-awards__item-content">
              Вот вам яркий пример современных тенденций, вот вам яркий пример
              современных тенденций
            </p>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="800" class="s-awards__item">
          <div class="s-awards__item-num">2023</div>
          <div class="s-awards__item-body">
            <h5 class="s-awards__item-title">Более длинное название премии</h5>
            <p class="s-awards__item-content">
              Вот вам яркий пример современных тенденций
            </p>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="800" class="s-awards__item">
          <div class="s-awards__item-num">2021</div>
          <div class="s-awards__item-body">
            <h5 class="s-awards__item-title">Название премии</h5>
            <p class="s-awards__item-content">
              Вот вам яркий пример современных тенденций, вот вам яркий пример
              современных тенденций, вот вам яркий пример современных тенденций
            </p>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="800" class="s-awards__item">
          <div class="s-awards__item-num">2018</div>
          <div class="s-awards__item-body">
            <h5 class="s-awards__item-title">
              Очень-очень длинное название еще одной премии, даже в две строки
              получилось
            </h5>
            <p class="s-awards__item-content">
              Вот вам яркий пример современных тенденций
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
