<section class="sect-p s-contacts">
  <div class="container">
    <h1 class="s-title _center">Контакты</h1>
    <div class="s-contacts__grid aos-contacts">
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">Для новых клиентов</h5>
        <div class="s-contacts__item-body">
          <a href="tel:+79995555555" class="s-contacts__tel">
            +7 (999) 555-55-55
          </a>
          <a href="mailto:mail@domain.ru" class="s-contacts__mail">
            mail@domain.ru
          </a>
          <ul class="list s-contacts__social">
            <li><a href="#" target="_blank">WhatsApp</a></li>
            <li><a href="#" target="_blank">Telegram</a></li>
          </ul>
        </div>
      </div>
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">Для партнеров</h5>
        <div class="s-contacts__item-body">
          <a href="tel:+79995555555" class="s-contacts__tel">
            +7 (999) 555-55-55
          </a>
          <a href="mailto:mail@domain.ru" class="s-contacts__mail">
            mail@domain.ru
          </a>
        </div>
      </div>
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">Для соискателей</h5>
        <div class="s-contacts__item-body">
          <a href="tel:+79995555555" class="s-contacts__tel">
            +7 (999) 555-55-55
          </a>
          <a href="mailto:mail@domain.ru" class="s-contacts__mail">
            mail@domain.ru
          </a>
        </div>
      </div>
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">График работы</h5>
        <div class="s-contacts__item-body">
          <p class="s-contacts__item-content">
            Понедельник - пятница: 10:00 - 20:00
            <br />
            Суббота, воскресенье: выходной
          </p>
        </div>
      </div>
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">Адрес</h5>
        <div class="s-contacts__item-body">
          <p class="s-contacts__item-content">Казань, ул. Пушкина, д. 7</p>
          <a href="#" target="_blank" class="s-contacts__item-link">
            Показать на карте
          </a>
        </div>
      </div>
      <div data-aos-duration="600" data-aos="fade-up" class="s-contacts__item">
        <h5 class="s-contacts__item-title">Карта партнера</h5>
        <div class="s-contacts__item-body">
          <p class="s-contacts__item-content">Казань, ул. Пушкина, д. 7</p>
          <a href="@img/adv-arrow-4.png" download class="btn-outline s-contacts__item-btn">
            <span>Скачать</span>
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-download'></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="s-contacts__map" data-center="[55.78680406893723,49.120966500000016]" data-zoom="17" id="map"></div>
</section>
