<section class="s-connect sect-p _gray">
  <div class="container">
    <div class="s-connect__wrapper">
      <div class="s-connect__body">
        <img src="@img/discuss.png" alt="image" class="s-connect__body-img">
        <h2 class="s-connect__title">
          Хотите заказать организацию мероприятия?
        </h2>
        <p class="s-connect__descr">
          Если у вас есть бриф, вы можете его приложить к заявке или
          <a href="#">заполнить его</a>
          у нас на сайте
        </p>
      </div>
      <form action="#" class="s-connect__form">
        <div class="input-control">
          <label for="s-connect-name" class="label-control">
            Имя
            <span>*</span>
          </label>
          <input type="text" id="s-connect-name" class="input" />
        </div>
        <div class="input-control">
          <label for="s-connect-tel" class="label-control">
            Телефон
            <span>*</span>
          </label>
          <input type="tel" id="s-connect-tel" class="input" />
        </div>
        <div class="s-connect__form-footer">
          <input type="file" id="s-connect-file" class="input-file" />
          <label
            data-change-text="Бриф прикреплён"
            for="s-connect-file"
            class="form-btn"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-paper"></use>
            </svg>
            <span>Прикрепить бриф</span>
          </label>
          <a href="@img/logo.svg" download class="form-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-download"></use>
            </svg>
            <span>Получить бриф</span>
          </a>
        </div>
        <button class="btn-s form-submit s-connect__form-btn">Отправить</button>
        <p class="s-connect__form-policy">Нажимая на кнопку, вы даете согласие на <a href="#">обработку персональных данных</a></p>
      </form>
    </div>
  </div>
</section>
