<section class="s-services-rec sect-m">
  <div class="container">
    <h2 class="s-title _center">Услуги по организации корпоративов</h2>
    <div class="s-services-rec__grid">
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Корпоративы на новый год</span>
      </a>
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Корпоративная вечеринка</span>
      </a>
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Профессиональный отраслевой праздник</span>
      </a>
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Корпоративы на новый год</span>
      </a>
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Корпоративная вечеринка</span>
      </a>
      <a href="#" class="s-services-rec__item">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
        </svg>
        <span>Профессиональный отраслевой праздник</span>
      </a>
    </div>
  </div>
</section>
