<section class="s-services sect-m">
  <div class="container">
    <div class="s-head">
      <h2 class="s-title">
        Форматы
        <span>событий</span>
      </h2>
      <a href="#" class="btn-s">Все форматы</a>
    </div>
    <div class="s-services__grid">
      <a data-aos="fade"  href="#" class="card-service">
        <div class="card-service__gallery">
          <img src="@img/event-img.png" alt="image" class="card-service__img" />
          <img src="@img/shadow.png" alt="image" class="card-service__shadow" />
        </div>
        <div class="card-service__btn">Внутренние события</div>
      </a>
      <a data-aos="fade"  href="#" class="card-service">
        <div class="card-service__gallery">
          <img src="@img/event-fox.png" alt="image" class="card-service__img" />
          <img
            src="@img/shadow-fox.png"
            alt="image"
            class="card-service__shadow"
          />
        </div>
        <div class="card-service__btn">
          PR /
          <br />
          бренд-активации
        </div>
      </a>
      <a data-aos="fade"  href="#" class="card-service">
        <div class="card-service__gallery">
          <img src="@img/event-img-3.png" alt="image" class="card-service__img" />
          <img src="@img/shadow.png" alt="image" class="card-service__shadow" />
        </div>
        <div class="card-service__btn">Внутренние события</div>
      </a>
      <a  data-aos="fade" href="#" class="card-service">
        <div class="card-service__gallery">
          <img src="@img/event-fox.png" alt="image" class="card-service__img" />
          <img
            src="@img/shadow-fox.png"
            alt="image"
            class="card-service__shadow"
          />
        </div>
        <div class="card-service__btn">
          PR /
          <br />
          бренд-активации
        </div>
      </a>
    </div>
  </div>
</section>
