.card-service {
  display: flex;
  flex-direction: column !important;
  height: auto !important;
  width: 320px;

  @media (min-width: 768px) {
    @include hover {
      .card-service {
        &__img {
          transform: translateY(-50px);
        }
        &__shadow {
          opacity: 0.2;
        }
        &__btn {
          background-color: var(--primary);
        }
      }
    }
  }
  @include tablet {
    @include hover {
      .card-service {
        &__btn {
          background-color: var(--primary);
        }
      }
    }
  }

  &__gallery {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/0.78;
    z-index: 1;
  }
  &__img {
    position: absolute;
    top: 0;
    z-index: 1;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.6s ease-in-out;
  }
  &__shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    object-fit: contain;
    left: 0;

    transition: opacity 0.6s ease-in-out;
  }
  &__btn {
    @include flex-center;
    width: 100%;
    padding: 20px 50px;
    border-radius: 50px 0;
    flex: 1;
    margin-top: 25px;
    background-color: var(--dark);

    color: white;
    font-weight: 500;
    font-size: 24px;
    text-align: center;

    transition: background-color 0.6s ease-in-out;
  }
}
