.sect-m {
  margin: 120px 0px;
  @include laptop-middle {
    margin: 100px 0px;
  }
  @include laptop-min {
    margin: 80px 0px;
  }
  @include tablet {
    margin: 65px 0px;
  }
}
.sect-p {
  padding: 120px 0px;
  @include laptop-middle {
    padding: 100px 0px;
  }
  @include laptop-min {
    padding: 80px 0px;
  }
  @include tablet {
    padding: 65px 0px;
  }

  &._gray {
    background-color: #fafafa;
  }
}

.s-gray {
  background-color: var(--gray);
}

.s-head {
  @include flex-between;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 60px;
  @include laptop-min {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 30px;
  }

  .s-title {
    margin-bottom: 0 !important;
  }
}
