.s-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;

  margin: 0px 0px 60px 0px;
  @include laptop-middle {
    font-size: 50px;
  }
  @include laptop-min {
    margin-bottom: 40px;
    font-size: 40px;
  }
  @include tablet {
    font-size: 32px;
  }

  span {
    color: var(--primary);
  }

  &._center {
    text-align: center;
  }
}